<!DOCTYPE html>
<html>

<head>
    <title>Create Project</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom -->
    <link rel="stylesheet" href="./styles/common.css">
    <link rel="stylesheet" href="./styles/layout.css">
    <link rel="stylesheet" href="./styles/project_create.css">

    <!-- Select2 -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
</head>

<body>
    <div class="container">
        <header class="row">
            <div id="brand" class="col-7">
                <p><a href="./project_list.html">
                        <img src="./images/logo_elca.png" alt="Logo ELCA" id="logo">
                        <span id="brand_name">Project Information Management</span>
                    </a></p>
            </div>
            <div class="col-3" id="language">
                <a href="#" class="current_language">EN</a>
                <a href="#"> | VI</a>
            </div>
            <div id="horizontal_menu" class="col-2 row">
                <a href="#" class="col-4">Help</a>
                <a href="#" class="col-8">Log out</a>
            </div>
        </header>
    </div>
    <hr>
    <div class="container">
        <div class="row">
            <nav class="col-2" id="nav_bar">
                <div id="nav_bar_home"><a href="./project_list.html">Projects list</a></div>
                <p id="nav_bar_new">New</p>
                <div class="nav_bar_item current_item"><a href="./project_create.html" id="nav_project">Project</a>
                </div>
                <div class="nav_bar_item"><a href="#">Customer</a></div>
                <div class="nav_bar_item"><a href="#">Supplier</a></div>
            </nav>

            <!--    Content -->
            <div class="col-md-8 content">
                <div class="content_header">
                    <p>New Project</p>
                </div>
                <hr>
                <form action="./project_list.html" id="new_project_form">
                    <div class="row" id="error_miss_mandatory" hidden>
                        <p class="error_message error_message_box col-12">Please enter all the mandatory fields (*).</p>
                    </div>
                    <div class="row form-group">
                        <label for="project_number" class="col-3 required">Project Number</label>
                        <input type="text" name="project_number" class="col-3 form-control" required>
                        <p class="error_message col-6" hidden>The project number already existed. Please select a
                            different project number</p>
                    </div>
                    <div class="row form-group">
                        <label for="project_name" class="col-3 required">Project name</label>
                        <input type="text" name="project_name" class="col-9 form-control" required>
                    </div>
                    <div class="row form-group">
                        <label for="customer" class="col-3 required">Customer</label>
                        <input type="text" name="customer" class="col-9 form-control" required>
                    </div>
                    <div class="row form-group">
                        <label for="group" class="col-3 required">Group</label>
                        <select name="group" class="col-3 form-control" required>
                            <option value="Viacar">Viacar</option>
                            <option value="Viacar">Viacar</option>
                            <option value="Viacar">Viacar</option>
                            <option value="Viacar">Viacar</option>
                        </select>
                    </div>
                    <div class="row form-group">
                        <label for="members" class="col-3">Members</label>
                        <select class="col-9 select2-multiple" multiple>
                            <option value="DCV">DCV</option>
                            <option value="HDH">HDH</option>
                            <option value="ABC">ABC</option>
                            <option value="ERE">ERE</option>
                            <option value="AGE">AGE</option>
                            <option value="AWE">AWE</option>
                            <option value="JHY">JHY</option>
                            <option value="YUI">YUI</option>
                        </select>
                    </div>
                    <div class="row error_message" hidden>
                        <p class="col">The following visas do not exist: <span id="invalid_visas"></span></p>
                    </div>
                    <div class="row form-group">
                        <label for="status" class="col-3 required">Status</label>
                        <select name="status" class="col-3 form-control" required>
                            <option value="New">New</option>
                            <option value="On progress">On progress</option>
                            <option value="Finished">Finished</option>
                        </select>
                    </div>
                    <div class="row form-group">
                        <label for="start_date" class="col-3 required">Start date</label>
                        <input type="date" name="start_date" class="col-3 form-control" required>
                        <div class="col-1"></div>
                        <label for="end_date" class="col-2">End date</label>
                        <input type="date" name="end_date" class="col-3 form-control" required>
                    </div>
                </form>
                <hr>
                <div class="row" id="buttons">
                    <div class="col-9">
                        <button id="btn_cancel" class="btn" data-toggle="modal"
                            data-target="#cancelModal">Cancel</button>
                    </div>
                    <div class="col-3">
                        <button id="btn_create" class="btn btn-primary">Create Project</button>
                    </div>
                </div>
            </div>
            <!--    End of content  -->

            <!-- Cancel Modal -->
            <div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Go to homepage</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Do you really want to cancel the creation process?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                            <a href="./project_list.html"><button type="button" class="btn btn-primary">Yes</button></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Cancel Modal -->
        </div>
    </div>
    <!-- JQuery-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>

    <!-- Bootstrap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <!-- Select2 -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <!-- Custom-->
    <script src="./scripts/project_create.js"></script>
</body>

</html>